html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  max-height: 100%;
  overscroll-behavior: none;
}
.header{
  display: flex;
  background-color: #2bc3d7;
  height: 10rem;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
  font-family: sans-serif;
  border-radius: 20px;
}

.nav{
  margin-right: 2.5rem;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.ul{
  display: flex;
  min-height: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.headerLi{
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.form{
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin: 2rem auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name{
  margin-bottom: 1.25rem;
  font-size: 6rem;
  line-height: 1;
}

.eventForm{
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 100%;
  max-width: 28rem;
  border-radius: 5px;
  border-width: 1px;
  border-color: transparent;
}

.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.container::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: pink;
  opacity: .6;
  background-image: url('/assets/volunteer.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.matchingForm {
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Increased the max-width */
  margin: 2rem auto;
  padding: 40px; /* Increased the padding */
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added a subtle shadow for better appearance */
}

.toggle-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.toggle-buttons button {
  margin: 0 10px;
  padding: 15px 30px; /* Increased the padding */
  background-color: #79b2ee;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Increased the font size */
}

.toggle-buttons button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  margin-bottom: 10px; /* Increased the margin */
  font-size: 1.1rem; /* Increased the font size */
}

.form-group input {
  width: 100%;
  padding: 10px; /* Increased the padding */
  box-sizing: border-box;
  font-size: 1rem; /* Increased the font size */
}

.pagination button {
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #79b2ee;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 10px;
}

.button{
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: #79b2ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: #0056b3;
}

.homepage1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: pretty;
  padding-bottom: 15rem;
  padding-top: 1rem;
  text-align: center;
}

.headerHomepage1{
  display: flex;
  max-width: 80rem;
  flex-direction: row;
  text-wrap: pretty;
  text-align: center;
  font-family: sans-serif;
  font-size: 5rem;
}

.homepage2{
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.homepage3{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10rem;
  padding-bottom: 2.5rem;
}

.homepage4{
  display: flex;
  height: auto;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgba(42, 151, 184,.7);
}

.card{
  list-style-type: disc;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
}

.headerpage1{
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: transparent;
}

.headerpage2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-right: 2.5rem;
}

.headerUl1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  min-height: 100%;
}

.headerLi{
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker{
  display: flex;
  height: 1rem;
  width: 95%;
  max-width: 28rem;
  border-radius: 5px;
  border-width: 1px;
  padding: 0.5rem;
  font-size: 13px;
  border-color: transparent;
}

.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.dashboard-content {
  text-align: center;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.dashboard-link {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #79b2ee;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.dashboard-link:hover {
  background-color: #0056b3;
}

.link {
  text-decoration: none;
  color: inherit;
}


.events-list {
  list-style: none;
  padding: 0;
}

.event-card { 
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  background-color: #79b2ee;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.event-card h3 {
  margin-top: 0;
}

.event-card p {
  margin: 10px 0;
}

.events-section h2 {
  margin-bottom: 20px;
  color: white;
}

.notification-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;
  padding: 2rem;
  color: white;
}

.notifications-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification-section h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

.notification-list {
  list-style: none;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #79b2ee;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.notification-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notification-list li:last-child {
  border-bottom: none;
}



.search-input{
  width: 300px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  padding: 0.5rem;
  font-size: 1rem; /* Adjust font size as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
}
/* Matin style css starts here */
.login{
  padding: 40px;
  max-width: 800px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(15px);
  margin: 2rem auto;
}

.input-box, .input-box-optional {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
  transition: border-bottom-color 0.3s ease;
}

.input-box .icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box label, .input-box-optional label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input, .input-box textarea, .input-box select,
.input-box-optional input, .input-box-optional textarea, .input-box-optional select {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 8px 0 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.input-box input:focus, .input-box textarea:focus, .input-box select:focus,
.input-box-optional input:focus, .input-box-optional textarea:focus, .input-box-optional select:focus {
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-box input:valid ~ label, .input-box textarea:valid ~ label,
.input-box input:focus ~ label, .input-box textarea:focus ~ label,
.input-box select:valid ~ label, .input-box select:focus ~ label,
.input-box-optional input:valid ~ label, .input-box-optional textarea:valid ~ label,
.input-box-optional input:focus ~ label, .input-box-optional textarea:focus ~ label,
.input-box-optional select:valid ~ label, .input-box-optional select:focus ~ label {
  top: -5px;
  font-size: 0.8em;
  color: #ffcc00;
}

.input-box-optional {
  opacity: 0.7;
}

.input-box.optional label {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
}

.input-box.optional input:focus ~ label,
.input-box.optional input:valid ~ label,
.input-box.optional select:focus ~ label,
.input-box.optional select:valid ~ label {
  top: -5px;
  color: #ffcc00;
}

.input-box select[multiple], .input-box-optional select[multiple] {
  height: auto;
  padding: 5px 8px;
}

.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.loginbutton{
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
}

.register {
  padding: 40px;
  max-width: 800px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(15px);
  margin: 2rem auto;
}

.register-link, .login-link {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a, .login-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover, .login-link p a:hover {
  text-decoration: underline;
}

h2 {

  font-size: 2em;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

p {
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

/* Matin style css ends here */

/* Shad style css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

table,th,td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: rgb(104, 196, 104);
}
/* Shad style css */
@media (max-width: 768px) {
  .header {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.5rem; /* Further adjust font size for very small screens */
  }
}
.dropdown-content{
  color: white;
}
.dropdown-item{
  padding: 5px 10px;
}
.dropdown-item:focus{
  background-color:#3175be;
}